#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: var(--spacing-5);
  text-align: center;
}

.logo {
  height: var(--size-logo-height);
  padding: var(--size-logo-padding);
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: var(--shadow-logo-vite);
}
.logo.react:hover {
  filter: var(--shadow-logo-react);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: var(--spacing-5);
}

.read-the-docs {
  color: var(--color-gray);
}
